<div class="container">
  <div class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()">
    <div class="columns">
      <div class="column" *ngFor="let Anime of Animes">
        <app-article-card (click)="animeDetail(Anime.id)" [data]="Anime"></app-article-card>
      </div>
    </div>
    <div id="loading">
      <div class="loading" style="width: 100%;" align="center"></div>
      <div align="center">Loading...</div>
    </div>
  </div>
</div>
